# Template for your final project

This is just a template that hopefully provides a rough guideline for your final project.  You will obviously need to add sections, descriptions, text, and code as needed.

## Data import

Import your dataset or multiple datasets here below.  Start by adding a text cell that talks about what the dataset is and provides a link to the original data source and description (i.e. it should take me to a high-level page that describes the data or source, not to a raw CSV or JSON). 

Then add code cells that import the data from a stable source and verifies that they have been loaded. 

You should also load all necessary libraries at the start.

In [ ]:
import pandas as pd
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

#Importing data from AWS S3
###This is a csv of all the shootings in New York that have been recorded during the years ____ to _____
This is originally where the data is from: https://catalog.data.gov/dataset/nypd-shooting-incident-data-historic

In [ ]:
# Movies data
shootings = pd.read_csv('https://ista-322-final.s3.amazonaws.com/NYPD_Shooting_Incident_Data__Historic_.csv')

## Data exploration
 
Explore your data in individual code cells describing what you're doing.  Add in text cells that describe what you found and what you need to fix.

In [ ]:
shootings.head()

   INCIDENT_KEY  ...                                        Lon_Lat
0     201575314  ...  POINT (-73.80814071699996 40.697805308000056)
1     205748546  ...   POINT (-73.91857061799993 40.81869973000005)
2     193118596  ...  POINT (-73.94547965999999 40.791916091000076)
3     204192600  ...   POINT (-74.16610830199996 40.63806398200006)
4     201483468  ...   POINT (-73.91333944399999 40.85454734900003)

[5 rows x 19 columns]

###Check Shape

In [ ]:
shootings.shape

(21626, 19)

###Describe shootings

In [ ]:
shootings.describe()

###There seems to be quite a bit of NaN values in the data. This needs to be cleaned.

In [ ]:
shootings.dtypes

INCIDENT_KEY                 int64
OCCUR_DATE                  object
OCCUR_TIME                  object
BORO                        object
PRECINCT                     int64
JURISDICTION_CODE          float64
LOCATION_DESC               object
STATISTICAL_MURDER_FLAG       bool
PERP_AGE_GROUP              object
PERP_SEX                    object
PERP_RACE                   object
VIC_AGE_GROUP               object
VIC_SEX                     object
VIC_RACE                    object
X_COORD_CD                  object
Y_COORD_CD                  object
Latitude                   float64
Longitude                  float64
Lon_Lat                     object
dtype: object

### There also are dates which need to be changed to a datetime.

Check that we only have the 5 Boros of New York

In [ ]:
shootings.BORO.unique()

array(['QUEENS', 'BRONX', 'MANHATTAN', 'STATEN ISLAND', 'BROOKLYN'],
      dtype=object)

Check the perpatrator's races and victim's races

In [ ]:
shootings.PERP_RACE.unique()

array([nan, 'BLACK', 'WHITE HISPANIC', 'BLACK HISPANIC', 'UNKNOWN',
       'WHITE', 'ASIAN / PACIFIC ISLANDER',
       'AMERICAN INDIAN/ALASKAN NATIVE'], dtype=object)

In [ ]:
shootings.VIC_RACE.unique()

array(['BLACK', 'BLACK HISPANIC', 'WHITE HISPANIC', 'WHITE',
       'ASIAN / PACIFIC ISLANDER', 'UNKNOWN',
       'AMERICAN INDIAN/ALASKAN NATIVE'], dtype=object)

Checking locations of the incidents

In [ ]:
shootings.LOCATION_DESC.unique()

array([nan, 'PVT HOUSE', 'MULTI DWELL - APT BUILD',
       'MULTI DWELL - PUBLIC HOUS', 'GROCERY/BODEGA', 'GAS STATION',
       'FAST FOOD', 'BAR/NIGHT CLUB', 'COMMERCIAL BLDG',
       'SOCIAL CLUB/POLICY LOCATI', 'HOSPITAL', 'SUPERMARKET',
       'LIQUOR STORE', 'HOTEL/MOTEL', 'RESTAURANT/DINER', 'SHOE STORE',
       'DRUG STORE', 'NONE', 'DRY CLEANER/LAUNDRY', 'BEAUTY/NAIL SALON',
       'STORE UNCLASSIFIED', 'SMALL MERCHANT', 'DEPT STORE',
       'FACTORY/WAREHOUSE', 'CLOTHING BOUTIQUE', 'VARIETY STORE',
       'JEWELRY STORE', 'TELECOMM. STORE', 'CHAIN STORE', 'CANDY STORE',
       'VIDEO STORE', 'GYM/FITNESS FACILITY', 'ATM', 'SCHOOL',
       'PHOTO/COPY STORE', 'BANK', 'LOAN COMPANY', 'STORAGE FACILITY',
       'CHECK CASH', 'DOCTOR/DENTIST'], dtype=object)

## Roadmap

Add in text cells that describe what the data are based on your exploration *and* where you want to take the data.  In other words, what is your data endpoint? Also describe the specific steps you need to take in your extractions and transformations to get to that endpoint.

#What the data is
The data is collection of cases of crimes committed in NewYork. It gives detailed explanations of what happened in that particular incident.

#Where to take the data
## First Step
###Drop Duplicate key values
Found this when trying to upload to AWS. Dropping these will help us upload the data.
## Second Step
###Clean Data. Need to remove, NaN value, change datetime, etc.
To do this: need to replace NaN with Unknown string
## Third Step
###Change Dates from strings to Datetime objects.
To do this: need to change dates with Datetime objects using to_datetime function in pandas.
## Fourth Step
###Figure out what is the most troublesome precinct.
Use transforms (groupby and agg functions) to get this data.
##Fifth Step
###Figure out whether a crime was committed by the most troublesome group (based on ages, race of each Boro).
Use transforms (groupby and agg functions) to get this data.
##Sixth Step
###Figure out which age group/race was affected by a crime the most (based on ages, race of each Boro).
Use transforms (groupby and agg functions) to get this data.
##Seventh Step
###Change Statistical murder flag to 0 and 1 from booleans and then find the avg of each precinct in each Boro then compare it to the boro's statistical murder flag
Use a replace to replace the True and False values with 0 and 1's, then do a groupby on the precincts and boros and aggregate the averages.

## Transforms
 
Start your transforms here.  You should be doing the transforms you listed in your roadmap.  For each transform describe what you're doing by annotating the code.  Also include code that validates that the transformed data looks like what you want it to.  For example, if you filtered data, do a summary of some type that makes sure your data contains the correct filtered values. 
 
This section will be the most intensive.

###Drop Duplicate Keys

In [ ]:
shootings = shootings.drop_duplicates(subset="INCIDENT_KEY")

###Replace NaNs with Unknown

In [ ]:
import numpy as np
shootings = shootings.replace(np.nan, 'Unknown', regex=True)
# check data
shootings.head()

   INCIDENT_KEY  ...                                        Lon_Lat
0     201575314  ...  POINT (-73.80814071699996 40.697805308000056)
1     205748546  ...   POINT (-73.91857061799993 40.81869973000005)
2     193118596  ...  POINT (-73.94547965999999 40.791916091000076)
3     204192600  ...   POINT (-74.16610830199996 40.63806398200006)
4     201483468  ...   POINT (-73.91333944399999 40.85454734900003)

[5 rows x 19 columns]

###Change String objects in dates and time to datetime objects

In [ ]:
shootings['OCCUR_DATETIME'] = pd.to_datetime(shootings['OCCUR_DATE'] + shootings['OCCUR_TIME'], format='%m/%d/%Y%H:%M:%S')
# check data
shootings.head()

   INCIDENT_KEY  ...      OCCUR_DATETIME
0     201575314  ... 2019-08-23 22:10:00
1     205748546  ... 2019-11-27 15:54:00
2     193118596  ... 2019-02-02 19:40:00
3     204192600  ... 2019-10-24 00:52:00
4     201483468  ... 2019-08-22 18:03:00

[5 rows x 20 columns]

###Delete old date/time columns as to clean data

In [ ]:
del shootings['OCCUR_DATE']
del shootings['OCCUR_TIME']
# check that it was done
shootings.head()

   INCIDENT_KEY  ...      OCCUR_DATETIME
0     201575314  ... 2019-08-23 22:10:00
1     205748546  ... 2019-11-27 15:54:00
2     193118596  ... 2019-02-02 19:40:00
3     204192600  ... 2019-10-24 00:52:00
4     201483468  ... 2019-08-22 18:03:00

[5 rows x 18 columns]

###Create new dateframe to hold the transformed data of the most troublesome Precinct of each boro

In [ ]:
shootings_df = shootings.groupby(['BORO'], as_index=False).agg({"PRECINCT": lambda x:x.value_counts().index[0]})

Could not find mode opeartion online, so used a lambda to calculate mode and just return the most used value (0 index) in a descending list of most used values

###Rename "PRECINCT" column in shootings_df to "WORST_PRECINCT"

In [ ]:
shootings_df['WORST_PRECINCT'] = shootings_df['PRECINCT']
# delete left over column
del shootings_df['PRECINCT']
shootings_df.head()

            BORO  WORST_PRECINCT
0          BRONX              47
1       BROOKLYN              75
2      MANHATTAN              32
3         QUEENS             113
4  STATEN ISLAND             120

### Merge shootings_df with shootings

In [ ]:
# make copy first to make sure I am doing this right
shooting_copy = shootings.copy

In [ ]:
shootings = shootings.merge(shootings_df, left_on="BORO", right_on='BORO', how='left')
shootings.head()

   INCIDENT_KEY           BORO  ...      OCCUR_DATETIME WORST_PRECINCT
0     201575314         QUEENS  ... 2019-08-23 22:10:00            113
1     205748546          BRONX  ... 2019-11-27 15:54:00             47
2     193118596      MANHATTAN  ... 2019-02-02 19:40:00             32
3     204192600  STATEN ISLAND  ... 2019-10-24 00:52:00            120
4     201483468          BRONX  ... 2019-08-22 18:03:00             47

[5 rows x 19 columns]

Alright, let's go, it worked. Don't need the copy now.

###Find most toublesome group of each Boro

In [ ]:
troublesome_group_df = shootings.groupby(['BORO'], as_index=False).agg({"PERP_AGE_GROUP": lambda x:x.value_counts().index[0]})
troublesome_group_df.head()

            BORO PERP_AGE_GROUP
0          BRONX        Unknown
1       BROOKLYN        Unknown
2      MANHATTAN        Unknown
3         QUEENS        Unknown
4  STATEN ISLAND          18-24

It looks like this returns mainly Unknown for the groups as there seemed to be a lot of NaN values in this column. Let's look at removing those to get the next one.

In [ ]:
troublesome_group_df = shootings.groupby(['BORO'], as_index=False).agg({"PERP_AGE_GROUP": lambda x: x.value_counts().index[0] if x.value_counts().index[0] != "Unknown" else x.value_counts().index[1]})
troublesome_group_df.head()

            BORO PERP_AGE_GROUP
0          BRONX          18-24
1       BROOKLYN          18-24
2      MANHATTAN          18-24
3         QUEENS          18-24
4  STATEN ISLAND          18-24

Alright, looks like mainly young people. Makes sense, honestly.

###Merge troublesome_group_df with shootings

In [ ]:
shootings = shootings.merge(troublesome_group_df, left_on="BORO", right_on='BORO', how='left')
shootings.head()

   INCIDENT_KEY           BORO  ...  WORST_PRECINCT PERP_AGE_GROUP_y
0     201575314         QUEENS  ...             113            18-24
1     205748546          BRONX  ...              47            18-24
2     193118596      MANHATTAN  ...              32            18-24
3     204192600  STATEN ISLAND  ...             120            18-24
4     201483468          BRONX  ...              47            18-24

[5 rows x 20 columns]

Forgot to rename columns, whoops.

In [ ]:
shootings = shootings.rename(columns={"PERP_AGE_GROUP_y": "MOST_CONVICTED_AGE", "PERP_AGE_GROUP_x": "PERP_AGE_GROUP"})

Had a little oops where PERP_AGE_GROUP was returning twice as a duplicate column. The fix is below.

In [ ]:
shootings = shootings.loc[:,~shootings.columns.duplicated()]
shootings.head()

   INCIDENT_KEY           BORO  ...  WORST_PRECINCT MOST_CONVICTED_AGE
0     201575314         QUEENS  ...             113              18-24
1     205748546          BRONX  ...              47              18-24
2     193118596      MANHATTAN  ...              32              18-24
3     204192600  STATEN ISLAND  ...             120              18-24
4     201483468          BRONX  ...              47              18-24

[5 rows x 20 columns]

### Find the race that causes the most crimes in each Boro

In [ ]:
race_group_df = shootings.groupby(['BORO'], as_index=False).agg({"PERP_RACE": lambda x: x.value_counts().index[0] if x.value_counts().index[0] != "Unknown" else x.value_counts().index[1]})
race_group_df.head()

            BORO PERP_RACE
0          BRONX     BLACK
1       BROOKLYN     BLACK
2      MANHATTAN     BLACK
3         QUEENS     BLACK
4  STATEN ISLAND     BLACK

Rename column

In [ ]:
race_group_df.columns = ['BORO', 'MOST_PERP_RACE']
race_group_df

            BORO MOST_PERP_RACE
0          BRONX          BLACK
1       BROOKLYN          BLACK
2      MANHATTAN          BLACK
3         QUEENS          BLACK
4  STATEN ISLAND          BLACK

Now to Merge them

In [ ]:
shootings = shootings.merge(race_group_df, left_on="BORO", right_on='BORO', how='left')
shootings

       INCIDENT_KEY           BORO  ...  MOST_CONVICTED_AGE MOST_PERP_RACE
0         201575314         QUEENS  ...               18-24          BLACK
1         205748546          BRONX  ...               18-24          BLACK
2         193118596      MANHATTAN  ...               18-24          BLACK
3         204192600  STATEN ISLAND  ...               18-24          BLACK
4         201483468          BRONX  ...               18-24          BLACK
...             ...            ...  ...                 ...            ...
17026     142091388         QUEENS  ...               18-24          BLACK
17027     109291971       BROOKLYN  ...               18-24          BLACK
17028      25170411      MANHATTAN  ...               18-24          BLACK
17029      63381856       BROOKLYN  ...               18-24          BLACK
17030      92673375      MANHATTAN  ...               18-24          BLACK

[17031 rows x 21 columns]

###Find who the majority of victims are in each Boro

In [ ]:
vic_race_group_df = shootings.groupby(['BORO'], as_index=False).agg({"VIC_RACE": lambda x: x.value_counts().index[0] if x.value_counts().index[0] != "Unknown" else x.value_counts().index[1]})
vic_race_group_df.head()

            BORO VIC_RACE
0          BRONX    BLACK
1       BROOKLYN    BLACK
2      MANHATTAN    BLACK
3         QUEENS    BLACK
4  STATEN ISLAND    BLACK

Rename the column

In [ ]:
vic_race_group_df.columns = ['BORO', 'MOST_VIC_RACE']
race_group_df

            BORO MOST_PERP_RACE
0          BRONX          BLACK
1       BROOKLYN          BLACK
2      MANHATTAN          BLACK
3         QUEENS          BLACK
4  STATEN ISLAND          BLACK

Merge them

In [ ]:
shootings = shootings.merge(vic_race_group_df, left_on="BORO", right_on='BORO', how='left')
shootings

       INCIDENT_KEY           BORO  ...  MOST_PERP_RACE MOST_VIC_RACE
0         201575314         QUEENS  ...           BLACK         BLACK
1         205748546          BRONX  ...           BLACK         BLACK
2         193118596      MANHATTAN  ...           BLACK         BLACK
3         204192600  STATEN ISLAND  ...           BLACK         BLACK
4         201483468          BRONX  ...           BLACK         BLACK
...             ...            ...  ...             ...           ...
17026     142091388         QUEENS  ...           BLACK         BLACK
17027     109291971       BROOKLYN  ...           BLACK         BLACK
17028      25170411      MANHATTAN  ...           BLACK         BLACK
17029      63381856       BROOKLYN  ...           BLACK         BLACK
17030      92673375      MANHATTAN  ...           BLACK         BLACK

[17031 rows x 22 columns]

###Change Statistical murder flag to 0 and 1 from booleans and then find the avg of each precinct in each Boro then compare it to the boro's statistical murder flag

Change to 0 and 1's

In [ ]:
shootings['STATISTICAL_MURDER_FLAG'] = shootings['STATISTICAL_MURDER_FLAG'].replace({True: 1, False: 0})
shootings.head()

   INCIDENT_KEY           BORO  ...  MOST_PERP_RACE MOST_VIC_RACE
0     201575314         QUEENS  ...           BLACK         BLACK
1     205748546          BRONX  ...           BLACK         BLACK
2     193118596      MANHATTAN  ...           BLACK         BLACK
3     204192600  STATEN ISLAND  ...           BLACK         BLACK
4     201483468          BRONX  ...           BLACK         BLACK

[5 rows x 22 columns]

Find avg of flag of each Boro

In [ ]:
boro_avg_flag_df = shootings.groupby(['BORO'], as_index=False).agg({"STATISTICAL_MURDER_FLAG": ['mean']})
boro_avg_flag_df.head()

            BORO STATISTICAL_MURDER_FLAG
                                    mean
0          BRONX                0.168506
1       BROOKLYN                0.178681
2      MANHATTAN                0.158022
3         QUEENS                0.184200
4  STATEN ISLAND                0.183236

Rename Columns

In [ ]:
boro_avg_flag_df.columns = ['BORO', "STAT_MURDER_FLAG_MEAN_BORO"]
boro_avg_flag_df.head()

            BORO  STAT_MURDER_FLAG_MEAN_BORO
0          BRONX                    0.168506
1       BROOKLYN                    0.178681
2      MANHATTAN                    0.158022
3         QUEENS                    0.184200
4  STATEN ISLAND                    0.183236

Now, merge it

In [ ]:
shootings = shootings.merge(boro_avg_flag_df, left_on="BORO", right_on='BORO', how='left')
shootings.head()

   INCIDENT_KEY           BORO  ...  MOST_VIC_RACE STAT_MURDER_FLAG_MEAN_BORO
0     201575314         QUEENS  ...          BLACK                   0.184200
1     205748546          BRONX  ...          BLACK                   0.168506
2     193118596      MANHATTAN  ...          BLACK                   0.158022
3     204192600  STATEN ISLAND  ...          BLACK                   0.183236
4     201483468          BRONX  ...          BLACK                   0.168506

[5 rows x 23 columns]

Now to find the avg of each precinct within the Boros

In [ ]:
precinct_avg_flag_df = shootings.groupby(['PRECINCT'], as_index=False).agg({"STATISTICAL_MURDER_FLAG": ['mean']})
precinct_avg_flag_df

   PRECINCT STATISTICAL_MURDER_FLAG
                               mean
0         1                0.307692
1         5                0.296296
2         6                0.235294
3         7                0.036364
4         9                0.184615
..      ...                     ...
71      115                0.184466
72      120                0.159794
73      121                0.131148
74      122                0.422222
75      123                0.263158

[76 rows x 2 columns]

Rename the columns

In [ ]:
precinct_avg_flag_df.columns = ['PRECINCT', "STAT_MURDER_FLAG_MEAN_PRECINCT"]

Merge into shootings

In [ ]:
shootings = shootings.merge(precinct_avg_flag_df, left_on="PRECINCT", right_on='PRECINCT', how='left')
shootings.head()

   INCIDENT_KEY  ... STAT_MURDER_FLAG_MEAN_PRECINCT
0     201575314  ...                       0.170483
1     205748546  ...                       0.159574
2     193118596  ...                       0.134948
3     204192600  ...                       0.131148
4     201483468  ...                       0.185874

[5 rows x 24 columns]

Now to find if the Precinct is worse than the Boro's avg

In [ ]:
shootings['PRECINCT_MORE_MURDERS'] = np.where(shootings['STAT_MURDER_FLAG_MEAN_BORO'] < shootings['STAT_MURDER_FLAG_MEAN_PRECINCT'], 1, 0)

In [ ]:
shootings

       INCIDENT_KEY  ... PRECINCT_MORE_MURDERS
0         201575314  ...                     0
1         205748546  ...                     0
2         193118596  ...                     0
3         204192600  ...                     0
4         201483468  ...                     1
...             ...  ...                   ...
17026     142091388  ...                     1
17027     109291971  ...                     1
17028      25170411  ...                     1
17029      63381856  ...                     0
17030      92673375  ...                     1

[17031 rows x 25 columns]

## Normalize your data for loads
 
Break down the data you transformed into normalized tables that you'll then push to your database. Start by describing what tables you want to create in a text cell, then create those tables in code cells.

##Roadmap
###Location Table
Table has all information pertaining to the location
###People Table
Table has all information about the people involved in the case
###Time Table
Table has datetime in it and Boro/Precinct

Create Tables

In [ ]:
location = shootings.loc[:, ["INCIDENT_KEY", "BORO", "PRECINCT", "JURISDICTION_CODE", "LOCATION_DESC", "STATISTICAL_MURDER_FLAG", "X_COORD_CD", "Y_COORD_CD", "Latitude", "Longitude", "WORST_PRECINCT", "STAT_MURDER_FLAG_MEAN_BORO", "STAT_MURDER_FLAG_MEAN_PRECINCT",  "PRECINCT_MORE_MURDERS" ]]
people = shootings.loc[:, ["INCIDENT_KEY", "PERP_AGE_GROUP", "PERP_SEX", "PERP_RACE", "VIC_AGE_GROUP", "VIC_SEX", "VIC_RACE", "MOST_CONVICTED_AGE", "MOST_PERP_RACE", "MOST_VIC_RACE"]]
time = shootings.loc[:, ["INCIDENT_KEY", "BORO", "PRECINCT", "OCCUR_DATETIME"]]

Check to see if it worked

In [ ]:
location.head()

   INCIDENT_KEY  ... PRECINCT_MORE_MURDERS
0     201575314  ...                     0
1     205748546  ...                     0
2     193118596  ...                     0
3     204192600  ...                     0
4     201483468  ...                     1

[5 rows x 15 columns]

This Column really does not do anything, so we will drop it here

In [ ]:
del shootings["Lon_Lat"]

## Load to database
 
First, set up your database on AWS like we did previously.  Then set up a connection and cursor function with your credentials so you and I can access it.
 
Once that is done build the appropriate tables, prepare your data, and load them into the databases.

###AWS Functions

In [ ]:
# Make our connection/cursor function 
import re
import psycopg2
def get_conn_cur(): # define function name and arguments (there aren't any)
  # Make a connection
  conn = psycopg2.connect(
    host="test-hw-db.cbwzd4sspanz.us-east-1.rds.amazonaws.com",
    database="ISTA332DE",
    user="mgleason17",
    password="am21TuZH",
    port='5432')
  
  cur = conn.cursor()   # Make a cursor after

  return(conn, cur)   # Return both the connection and the cursor

# Same run_query function
def run_query(query_string):

  conn, cur = get_conn_cur() # get connection and cursor

  cur.execute(query_string) # executing string as before

  my_data = cur.fetchall() # fetch query data as before

  # here we're extracting the 0th element for each item in cur.description
  colnames = [desc[0] for desc in cur.description]

  cur.close() # close
  conn.close() # close

  return(colnames, my_data) # return column names AND data

# Column name function for checking out what's in a table
def get_column_names(table_name): # arguement of table_name
  conn, cur = get_conn_cur() # get connection and cursor

  # Now select column names while inserting the table name into the WERE
  column_name_query =  """SELECT column_name FROM information_schema.columns
       WHERE table_name = '%s' """ %table_name

  cur.execute(column_name_query) # exectue
  my_data = cur.fetchall() # store

  cur.close() # close
  conn.close() # close

  return(my_data) # return

# Check table_names
def get_table_names():
  conn, cur = get_conn_cur() # get connection and cursor

  # query to get table names
  table_name_query = """SELECT table_name FROM information_schema.tables
       WHERE table_schema = 'public' """

  cur.execute(table_name_query) # execute
  my_data = cur.fetchall() # fetch results

  cur.close() #close cursor
  conn.close() # close connection

  return(my_data) # return your fetched results
def sql_head(table_name):
  string = "SELECT  * FROM " + table_name + " LIMIT 5;"
  return run_query(string)

Make shootings table

In [ ]:
conn, cur = get_conn_cur()
tq = """CREATE TABLE shootings (
          INCIDENT_KEY INTEGER PRIMARY KEY,
          BORO VARCHAR(255)  NOT NULL,
          PRECINCT INTEGER NOT NULL,
          JURISDICTION_CODE VARCHAR(255) NOT NULL,
          LOCATION_DESC VARCHAR(255) NOT NULL,
          STATISTICAL_MURDER_FLAG INTEGER NOT NULL,
          PERP_AGE_GROUP VARCHAR(255) NOT NULL,
          PERP_SEX VARCHAR(255) NOT NULL,
          PERP_RACE VARCHAR(255) NOT NULL,
          VIC_AGE_GROUP VARCHAR(255) NOT NULL,
          VIC_SEX VARCHAR(255) NOT NULL,
          VIC_RACE VARCHAR(255) NOT NULL,
          X_COORD_CD VARCHAR(255) NOT NULL,
          Y_COORD_CD VARCHAR(255) NOT NULL,
          Latitude FLOAT NOT NULL,
          Longitude FLOAT NOT NULL,
          OCCUR_DATETIME timestamp NOT NULL,
          WORST_PRECINCT INTEGER NOT NULL,
          MOST_CONVICTED_AGE VARCHAR(255) NOT NULL,
          MOST_PERP_RACE VARCHAR(255) NOT NULL,
          MOST_VIC_RACE VARCHAR(255) NOT NULL,
          STAT_MURDER_FLAG_MEAN_BORO FLOAT NOT NULL,
          STAT_MURDER_FLAG_MEAN_PRECINCT FLOAT NOT NULL,
          PRECINCT_MORE_MURDERS INTEGER NOT NULL

          );"""
cur.execute(tq)
conn.commit()

Load data in

In [ ]:
data_tups = [tuple(x) for x in shootings.to_numpy()]

iq = """INSERT INTO shootings(INCIDENT_KEY, BORO, PRECINCT, JURISDICTION_CODE,
       LOCATION_DESC, STATISTICAL_MURDER_FLAG, PERP_AGE_GROUP,
       PERP_SEX, PERP_RACE, VIC_AGE_GROUP, VIC_SEX, VIC_RACE,
       X_COORD_CD, Y_COORD_CD, Latitude, Longitude,
       OCCUR_DATETIME, WORST_PRECINCT, MOST_CONVICTED_AGE,
       MOST_PERP_RACE, MOST_VIC_RACE, STAT_MURDER_FLAG_MEAN_BORO,
       STAT_MURDER_FLAG_MEAN_PRECINCT, PRECINCT_MORE_MURDERS) VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);"""
con, cur =  get_conn_cur()
cur.executemany(iq, data_tups)
con.commit()

Create locations table

In [ ]:
conn, cur = get_conn_cur()
tq = """CREATE TABLE location (
          INCIDENT_KEY INTEGER PRIMARY KEY,
          BORO VARCHAR(255)  NOT NULL,
          PRECINCT INTEGER NOT NULL,
          JURISDICTION_CODE VARCHAR(255) NOT NULL,
          LOCATION_DESC VARCHAR(255) NOT NULL,
          STATISTICAL_MURDER_FLAG INTEGER NOT NULL,
          X_COORD_CD VARCHAR(255) NOT NULL,
          Y_COORD_CD VARCHAR(255) NOT NULL,
          Latitude FLOAT NOT NULL,
          Longitude FLOAT NOT NULL,
          WORST_PRECINCT INTEGER NOT NULL,
          STAT_MURDER_FLAG_MEAN_BORO FLOAT NOT NULL,
          STAT_MURDER_FLAG_MEAN_PRECINCT FLOAT NOT NULL,
          PRECINCT_MORE_MURDERS INTEGER NOT NULL

          );"""
cur.execute(tq)
conn.commit()

Insert the values into the table

In [ ]:
data_tups = [tuple(x) for x in location.to_numpy()]
iq = """INSERT INTO location(INCIDENT_KEY, BORO, PRECINCT, JURISDICTION_CODE,
       LOCATION_DESC, STATISTICAL_MURDER_FLAG,
       X_COORD_CD, Y_COORD_CD, Latitude, Longitude,
       WORST_PRECINCT, STAT_MURDER_FLAG_MEAN_BORO,
       STAT_MURDER_FLAG_MEAN_PRECINCT, PRECINCT_MORE_MURDERS) VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);""" 
con, cur =  get_conn_cur()
cur.executemany(iq, data_tups)
con.commit()

Create person table

In [ ]:
conn, cur = get_conn_cur()
tq = """CREATE TABLE persons (
          INCIDENT_KEY INTEGER PRIMARY KEY,
          PERP_AGE_GROUP VARCHAR(255) NOT NULL,
          PERP_SEX VARCHAR(255) NOT NULL,
          PERP_RACE VARCHAR(255) NOT NULL,
          VIC_AGE_GROUP VARCHAR(255) NOT NULL,
          VIC_SEX VARCHAR(255) NOT NULL,
          VIC_RACE VARCHAR(255) NOT NULL,
          MOST_CONVICTED_AGE VARCHAR(255) NOT NULL,
          MOST_PERP_RACE VARCHAR(255) NOT NULL,
          MOST_VIC_RACE VARCHAR(255) NOT NULL

          );"""
cur.execute(tq)
conn.commit()

In [ ]:
people.shape

(17031, 10)

Insert Values

In [ ]:
data_tups = [tuple(x) for x in people.to_numpy()]
iq = """INSERT INTO persons(INCIDENT_KEY, PERP_AGE_GROUP,
       PERP_SEX, PERP_RACE, VIC_AGE_GROUP, VIC_SEX, VIC_RACE,
       MOST_CONVICTED_AGE,
       MOST_PERP_RACE, MOST_VIC_RACE) VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s);""" 
con, cur =  get_conn_cur()
cur.executemany(iq, data_tups)
con.commit()

Create time table

In [ ]:
conn, cur = get_conn_cur()
tq = """CREATE TABLE time (
          INCIDENT_KEY INTEGER PRIMARY KEY,
          BORO VARCHAR(255)  NOT NULL,
          PRECINCT INTEGER NOT NULL,
          OCCUR_DATETIME timestamp NOT NULL

          );"""
cur.execute(tq)
conn.commit()

Insert items

In [ ]:
data_tups = [tuple(x) for x in time.to_numpy()]

iq = """INSERT INTO time(INCIDENT_KEY, BORO, PRECINCT,
       OCCUR_DATETIME) VALUES(%s, %s, %s, %s);"""
con, cur =  get_conn_cur()
cur.executemany(iq, data_tups)
con.commit()

## Check
 
Perform some SQL check to validate that your data is in the database.  Do a basic select and filter, or a simple join, for example.

In [ ]:
sq = """ SELECT * FROM shootings
          LIMIT 5;"""
run_query(sq)

In [ ]:
sq = """ SELECT * FROM location
          LIMIT 5;"""
run_query(sq)

(['incident_key',
  'boro',
  'precinct',
  'jurisdiction_code',
  'location_desc',
  'statistical_murder_flag',
  'x_coord_cd',
  'y_coord_cd',
  'latitude',
  'longitude',
  'worst_precinct',
  'stat_murder_flag_mean_boro',
  'stat_murder_flag_mean_precinct',
  'precinct_more_murders'],
 [(201575314,
   'QUEENS',
   103,
   '0.0',
   'Unknown',
   0,
   '1037451',
   '193561',
   40.697805308000056,
   -73.80814071699997,
   113,
   0.1987596899224806,
   0.17547568710359407,
   0),
  (205748546,
   'BRONX',
   40,
   '0.0',
   'Unknown',
   0,
   '1006789',
   '237559',
   40.81869973000005,
   -73.91857061799993,
   44,
   0.18692493946731234,
   0.17630057803468208,
   0),
  (193118596,
   'MANHATTAN',
   23,
   '0.0',
   'Unknown',
   0,
   '999347',
   '227795',
   40.79191609100008,
   -73.94547965999998,
   32,
   0.17604835663014734,
   0.168,
   0),
  (204192600,
   'STATEN ISLAND',
   121,
   '0.0',
   'PVT HOUSE',
   1,
   '938149',
   '171781',
   40.63806398200006,
   -74.16610830199994,
   120,
   0.19659442724458204,
   0.15789473684210525,
   0),
  (201483468,
   'BRONX',
   46,
   '0.0',
   'Unknown',
   0,
   '1008224',
   '250621',
   40.85454734900002,
   -73.91333944399997,
   44,
   0.18692493946731234,
   0.19478737997256515,
   1)])